<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css" />
    <script src="~/assets/plugins/tailwind/tailwind.js"></script>
    <link rel="stylesheet" href="~/assets/plugins/fonts/font.css" />
    <link rel="stylesheet" href="~/assets/style/style.css" />



    <!-- Tailwind Customization -->
    <script>
        tailwind.config = {
            theme: {
                colors: {
                    primary: "#F67516",
                    secondary: "#FEB52B",
                    white: "#FFFFFF",
                    black: "#000000",
                    grey: "#E3E3E2",
                },
                screens: {
                    sm: "550px",
                    // => media (min-width: 550px) { ... }

                    md: "800px",
                    // => media (min-width: 700px) { ... }

                    lg: "1024px",
                    // => media (min-width: 1024px) { ... }

                    xl: "1280px",
                    // => media (min-width: 1280px) { ... }

                    "2xl": "1536px",
                    // => media (min-width: 1536px) { ... }
                },
            },
        };
    </script>
     
   


</head>
<body class="bg-white px-4 sm:px-0 overflow-x-hidden">
    <section class="block">
        <div class="md:flex md:justify-between xl:px-40 md:mt-12 md:px-2">
            <div class="w-96 h-56 rotate-12 opacity-10 blur-xl absolute bg-[#efd3a0] hidden md:flex"></div>
            <div class="md:flex md:items-center">
                <img src="" class="" />
                <p class="text-2xl text-primary first-letter:text-5xl first-letter:font-semibold py-2 md:py-0">
                    Codeweb
                </p>
            </div>
            <div class="md:flex md:space-x-10 xl:space-x-10 md:text-center md:items-center md:space-x-6 hidden">
                <div class="md:h-12 md:w-24 text-primary text-lg md:text-gray md:py-2 ">
                    <a asp-controller="Home" asp-action="Home">Home</a>
                </div>
                <a asp-controller="Home" asp-action="Index" class="text-lg">Login</a>@* 
                <a asp-controller="Student" asp-action="MonthlyPayments" class="text-lg">Monthly Payment</a>
                <a asp-controller="Student" asp-action="GetStudents" class="text-lg">Students</a> *@
                <a href="#" class="text-lg">About</a>
                <a href="#" class="text-lg">Contact</a>
            </div>
        </div>
       
            @RenderBody()
           
   
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
