@model SMS.ViewModels.LoginViewModel;
@{
    ViewData["Title"] = "Home Page";
}

@* div class="text-center"> *@
   @*  <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
 


  
  
    <section class="hidden md:block">
        <div class="flex space-x-6 lg:space-x-24 2xl:space-x-72">
            <img src="~/pages/images/login.png"
            class="h-screen w-[450px] object-cover rounded-e-[50px] lg:w-[550px] xl:w-[800px]">
             <div class="">
                <div class="flex mt-6 items-center">
                    <img src=""
                   class="">
                   <p class="text-2xl font-bold text-black"></p>
                  </div>
                  <p class="text-2xl mt-24 font-semibold text-black">Admin Login</p>
            <div asp-validation-summary="ModelOnly" style="color:orangered; font-size:2em;"></div>
                <form asp-action="Index" method="post">
                  <div class="mt-7 w-[300px] space-y-8 mt-24">

                        <input asp-for="Email" type="email" class="h-16 w-72 rounded-2xl border-black px-4 border-2
                     placeholder:text-lg lg:w-80" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input asp-for="Password" type="password" class="h-16 w-72 rounded-2xl border-black px-4 border-2
                     placeholder:text-lg lg:w-80" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>

                </div>
                <div class="flex justify-end mt-6">
                  <a href="#" class="text-lg font-light hover:underline">forgetten password?</a>
                </div>
                <div class="flex justify-center mt-40 text-center">
                  <button type="submit" class="px-4 h-12 bg-primary rounded-full w-60 text-white text-bold text-xl border-primary border-2 
                  ">Login</button>
                
               </div>
               </form>
               <div class="flex text-center justify-center mt-40">
                <p class="text-center text-lg font-semibold">Did'n Have Account <a asp-controller="Admin" asp-action="Register"  class="text-md font-light hover:underline">Sign Up</a></p>
              </div>
             </div>
        </div>
      </section>
    
           
  @*   <div class="login-box">
            <div class="login-logo">
                <b>Log</b>In
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to start your session</p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="Index" method="post">
                        <div class="input-group mb-3">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                     <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span
                                         <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        </form>
                          <p class="mb-0">

                    <div>
                    <a asp-action="Index" asp-controller="Admin">Do Not Have An Account?</a>

                    </div>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->
        <!-- jQuery -->
        <script src="../../plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../dist/js/adminlte.min.js"></script>

</div>
 *@