@model SMS.Models.Expenditure

@{
    ViewData["Title"] = "Expense";
}

@{
    Layout = "_LayoutLoggedIn";
}

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Expense">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Expenses" class="control-label"></label>
                <input asp-for="Expenses" class="form-control" />
                <span asp-validation-for="Expenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control"  type="datetime-local"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

<div class="w-7/12 h-96 border border-gray shadow-lg rounded-sm mx-auto  flex flex-col my-40 lg:w-4/12">
   <form asp-action="Expense">
    <h1 class="flex justify-center font-bold text-2xl py-6 pb-10">Expenditure Form</h1>
        <label asp-for="Expenses" for="" class="mx-8 font-semibold ">Expenditure:</label>
        <input asp-for="Expenses" type="text" class="border mx-8 py-1 mb-4 px-6 my-1 rounded-lg focus:outline-orange ">

        <label asp-for="Amount" for="" class="mx-8 font-semibold">Amount:</label>
        <input asp-for="Amount" type="text" class="border mx-8 py-1 px-6 my-1 rounded-lg focus:outline-orange">

    <button type="Submit" class="bg-orange-500 px-20 text-center py-1 mx-8 my-14 rounded-sm font-bold text-white text-lg hover:scale-95">Submit</button>
    </form>
</div>

